body {
    background-color: #333;
    color: #fff;
}

.app-wraper {
    margin: 0 auto;
    padding: 0 10%;
    display: grid;
    width: 70vw;

    grid-template-areas:
        "h h"
        "n c";

    grid-template-rows: 1fr;
    grid-template-columns: 2fr 10fr;

    grid-gap: 2vw;
}

